@import "../../styles/variables.css";

.error-warning {
  background: var(--red);
  padding: 2rem 4rem;
  color: var(--white);
  position: absolute;
  min-width: 30vw;
  top: 1vh;
  right: 1vw;
  z-index: 900;
  /* transform: translateX(500px);? */
}

p {
  margin-bottom: 0;
}

.try-again {
  background: none;
  border: none;
  color: var(--white);
  font-size: var(--small);
  padding: 0;
}

.close {
  background: none;
  border: none;
  color: var(--white);
  position: absolute;
  top: 5px;
  right: 5px;
}