@import "../../styles/variables.css";

h2 {
  text-align: center;
  text-decoration: underline;
}

.claim {
  margin-bottom: 6rem;
}

.try-it {
  max-width: 600px;
}

.how-it-works {
  min-width: 100%;
  background-color: var(--gray100);
  padding: 5rem;
  margin-top: 5rem;
}

.landing-banner {
  max-width: 1000px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;

  & img {
    width: 200px;
  }

  & p {
    height: 8rem;
    padding: 2rem;
  }
}

.info {
  width: 100%;
}

@media (--medium-viewport) {
  .landing-banner {
    flex-direction: row;
  }

  .info {
    width: 33%;
  }
}
