@import "../../styles/variables.css";

.landing {
  max-width: 600px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 1rem;
}

.landing-btn {
  margin: 0 auto;
  display: block;
  margin: 0 auto;
  color: var(--white);
  background: var(--black);
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1rem 1rem;
  border: none;
  width: 130px;
  margin-top: 1rem;
  cursor: pointer;
  &:hover {
    background-color: var(--green100);
  }
}
