<div>
  <transition name="loading">
    <nws-loader v-if="loading"></nws-loader>
  </transition>

  <transition name="pop">
    <nws-error-warning v-if="error"></nws-error-warning>
  </transition>

  <nws-header></nws-header>

  <template v-if="state === 'LANDING'">
    <nws-landing @retrieve="updateUrlAndRetrieve"></nws-landing>
  </template>

  <template v-if="state === 'PROCESSING'">
    <div>PROCESSING {{ progress }}</div>
  </template>

  <template v-if="state === 'RESULT'">
    <nws-analysis-result :article="article"></nws-analysis-result>
  </template>
</div>
