@import "../../styles/variables.css";

.progress-bar {
  display: flex;
  height: 1rem;
  & .progress {
    height: 100%;
    width: 33%;
  }
}

/* Colors */

.negative {
  background: var(--red);
}

.neutral {
  background: var(--yellow);
}

.positive {
  background: var(--green100);
}
