@import "../../styles/variables.css";

.terminal {
  background: var(--black);
  padding: 4rem;
  height: 100vh;
}

.prompt {
  color: #1ff042;
  display: block;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  line-height: 1;
  margin-bottom: 0.75rem;
  &:before {
    content: '> ';
    display: inline-block;
  }
}

h1.prompt {
  font-size: 2rem;
  margin-bottom: 2rem;
  animation: cursor-blink 500ms steps(1) infinite;
  &:before {
    content: '';
    display: inline-block;
  }
}

.new-output:after {
  display: inline-block;
  vertical-align: -0.15em;
  width: 0.75em;
  height: 1rem;
  margin-left: 5px;
  background: #1ff042;
  box-shadow: 1px 1px 1px rgba(31, 240, 66, 0.65), -1px -1px 1px rgba(31, 240, 66, 0.65), 1px -1px 1px rgba(31, 240, 66, 0.65), -1px 1px 1px rgba(31, 240, 66, 0.65);
  animation: cursor-blink 1.25s steps(1) infinite;
  content: '';
}

.go-back {
  color: var(--orange);
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}