@import "../../styles/variables.css";

.hero {
  border-bottom: 1px solid var(--gray200);
}

.hero-data {
  display: flex;
  align-items: flex-start;
}

.metadata-title {
  font-size: var(--xlarge);
  font-weight: bold;
  margin-top: 0;
}

.metadata-summary {
  line-height: var(--large);
}

.hero-image {
  display: none;
}

a {
  color: var(--blue);
}

.hero-summary {
  flex: 1;
}

.sentiment-data {
  max-width: 360px;
  margin-top: 2rem;
}

.feeling {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--xlarge);
  font-weight: bold;
  margin-right: 2rem;
  position: relative;
}

.feeling-bar {
  height: .25rem;
  width: 75%;
  position: absolute;
  z-index: -1;
}

.box {
  background: var(--gray100);
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-right: 0.25rem;
  &:last-of-type {
    margin-right: 0;
  }
}

.twitter-share-button {
  display: inline-block;
  margin: 1rem 0;
  & svg {
    width: 1rem;
    fill: var(--blue);
    display: inline;
    vertical-align: middle;
  }
}


/* Colors */

.v-negative {
  background: var(--red);
}

.negative {
  background: var(--orange);
}

.neutral {
  background: var(--yellow);
}

.positive {
  background: var(--green);
}

.v-positive {
  background: var(--green100);
}


@media (--large-viewport) {

  .hero {
    display: grid;
    grid-template-columns: 1fr 475px;
  }
  .hero-image {
    display: block;
    flex-basis: 35%;
    padding-right: 3rem;
    & img {
      width: 100%;
    }
  }
  .sentiment-data {
    padding-left: 8rem;
    margin-top: 0;
    max-width: 475px;
  }
}
